<div class="container">
    <form name="add-comment" method="post" action="/guidelines/{{id}}/comment/create">
        <div class="form-group">
            <input class="form-control" id="content" type="text" name="content" required="true" placeholder="Add a comment">
        </div>
        <div class="action">
            <button class="btn btn-large btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
